<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="nav_container">
                <div class="nav_left"></div>
                <div class="nav_mid">
                    <span>Home</span>
                    <span>Sobre</span>
                    <span>Carreira</span>
                    <span>Security</span>
                </div>
                <div class="nav_right">
                    <button>Cadastrar</button>
                    <button>Login</button>
                </div>
            </div>
        </header>
        <main>
           <div class="main-top">
            <span>Cadastramento</span>
            <span>Coloque seus dados para fazermos o cadastramento</span>
           </div>
           <div class="main-mid">
            <input type="text" placeholder="Insira seu primeiro nome">
            <input type="text" placeholder="Insira seu Ultimo Nome">
            <input type="number" placeholder="Insira seu CPF">
            <input type="number" placeholder="Insira seu Telefone">
            <div class="main-mid-button">
                <button>Conta Corrente</button>
                <button>Conta Poupança</button>
            </div>
           </div>
           <div class="main-bot">
                <button>Se Cadastrar</button>
                <button>Entrar</button>
           </div>
        </main>
    </div>
</body>
</html>